<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_StorePickupAddon
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="amasty-split-order"
                type="Amasty\StorePickupAddon\Plugin\Quote\Model\QuoteManagement\SplitOrder"/>
    </type>
    <type name="Magento\Shipping\Model\Shipping">
        <plugin name="provide-appropriate-items-for-carrier"
                type="Amasty\StorePickupAddon\Plugin\Shipping\Model\Shipping\ProvideItems"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="Amasty_Checkout::DefaultConfigProvider" sortOrder="100"/>
        <plugin name="provide-additional-quote-data-to-checkout"
                type="Amasty\StorePickupAddon\Plugin\Checkout\Model\DefaultConfigProvider"
                sortOrder="200"/>
    </type>
<!--    <type name="Magento\Quote\Model\Quote">-->
<!--        <plugin name="set-delivery-option-to-product"-->
<!--                type="Amasty\StorePickupAddon\Plugin\Quote\Model\Quote\SetDeliveryOption"/>-->
<!--    </type>-->
</config>
